/* Custom Form */
.form-control{
  &.no-border{border: none;}
  &.no-radius{border-radius: 0;}
  &.no-resize{resize: none;}
  &:focus{box-shadow: none;}

  &::placeholder{
    font-size: 12px;
    font-weight: 500;
  }
}

.input-group{
  &.primary-flat{
    border-bottom: solid 1px $color-primary;
    .input-group-prepend{
      .input-group-text{
        background: transparent;
        border: none;
        padding-left: 0px;
        color: $color-primary;
      }
    }
    .form-control{
      background: transparent;
      border: none;
      padding-left: 0px;
      padding-right: 0px;
      color: $color-primary;
      &::placeholder{color: $color-primary;}
      &:focus{box-shadow: none;}
    }
  }

  .form-control{
    background-color: transparent;
  }
  .input-group-prepend, .input-group-append{
    .input-group-text{
      border: none;
      background: transparent;
    }
  }
}

.primary-input-file{
  height: 160px;
  display: table;
  input{
    &:focus{box-shadow: none;}
  }
  label{
    background-color: $color-primary;
    color: #ffffff;
    line-height: 24px;
    border: none;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    &::after{display: none;}
  }
}

.photo-upload-container{
  width: 180px;
  height: auto;
  float: right;
  .card{
    max-width: 180px;
    height: 180px;
    position: relative;
    z-index: 0;
    i{
      position: absolute;
      z-index: -1;
      top: 78px;
      left: 78px;
    }
    img{
      width: auto;
      max-height: 100%;
    }
  }
}

.form-datepicker{
  &.append-has-border{
    .input-group-append{
      button{border: 1px solid #ced4da;}
    }
    .form-control{border-right: none;}
  }
  .input-group-append{
    button{border: none;}
  }
}