/*Icon Style*/
.linked-soc{
  li{
    .soc-container{
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      padding: 4px 0;
      width: 38px;
      border-radius: 50%;
      &.fb{background-color: #1f518c;}
      &.twitter{background-color: #34b2cb;}
      &.youtube{background-color: #D4111D;}
      &.ig{background-color: #4a90e2;}
      &.wa{background-color: #00A501;}
      &.linkedin{background-color: #318EF1;}
    }
  }
}

.sk-img{height: 100px;}