/* Colors */
$color-primary: #26c281;
$color-secondary: #d0021b;
$color-tertiary: #f5a623;

$primary-red: #ED1C24;
$primary-orange: #f36a5a;
$primary-yellow: #FDB813;
$primary-black: rgba(0,0,0,.85);

/* Path */
$img-component-path: "../dist/img";
