.main-category-control{
  li{
    border: none;
    padding: 10px;
    a{
      display: block;
      position: relative;

      i{
        &.fas{
          position: absolute;
          right: 0;
          top: 4px;
          transition-duration: .3s;
        }
      }

      &.collapsed{
        i{
          &.fas{
            transform: rotate(180deg);
            transition-duration: .3s;
          }
        }
      }
    }

    .collapse-row{
      margin-left: -25px;
      margin-right: -25px;
      margin-top: 15px;
      padding: 10px 25px;
      background-color: #F6F6F6;
      ul{
        li{
          background: transparent;
          a{
            padding-left: 15px!important;
            i{
              &.fas{
                left: 0;
                top: 3px;
              }
            }
          }
        }
      }
    }
  }
}