.main-digital-pd-ls{
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;

  span{
    &.label{
      border-radius: 8px 8px 8px 0;
      position: absolute;
      right: 0;
    }
  }

  img{
    width: 30px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
}

.label-new-service{
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  width: 100%;

  .label{
    font-size: 10px!important;
    font-weight: 500;
    padding: 2px 10px!important;
    border-radius: 9px;
  }
}