header{
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
  .header-menu{
    margin: 10px 0;
    li{
      &:not(:last-child){margin-right: 18px;}
      a{
        color: #ffffff;
        text-decoration: none;
        padding-bottom: 25px;
      }
      &.active{
        a{
          border-bottom: solid 3px $color-primary;
          color: $color-primary;
        }
      }
    }
  }
  &.after-scroll, &.read-scroll{
    background: $primary-black;
    color: inherit;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
  }
}
.app-logo{
  font-size: 28px;
  img{height: 33px;}
}

.index-header{margin-top: 72px;}