.main-banner-slide{
  position: relative;

  .all-promo-label{
    font-size: 8px;
    background: rgba(0,0,0,.6);
    padding: 3px 7px;
    color: #ffffff;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
}