.review-point{
  li{
    color: #dddddd!important;
    margin-right: 3px!important;
    &.active{
      color: #FECA01!important;
    }
  }
}
.review-count{
  position: absolute;
  top: -2px;
  left: 90px;
}

.pdp-name{
  white-space: normal;
  line-height: 20px;
  font-size: 15px;
  height: 37px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.disc-item{
  width: 43px;
  height: auto;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  padding: 1px;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 9px;
  top: 9px;
  z-index: 1;
  background-color: #ffffff;
  border-right: solid 2px $primary-orange;
  border-top: solid 2px $primary-orange;
  border-bottom: solid 2px $primary-orange;
  color: $primary-orange;
  &:before{
    content: '';
    transform: rotate(45deg);
    border-radius: 3px;
    position: absolute;
    left: -10px;
    z-index: -1;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border-left: solid 2px $primary-orange;
    border-bottom: solid 2px $primary-orange;
    top: 1px;
  }
}

.pdp-action-group{
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 7px #777777;
}

.product-service{
  span{
    font-size: 30px;
    color: #dddddd;
  }
  p{color: #dddddd;}
  i{
    position: absolute;
    left: 12px;
    top: 20px;
    &.fa-check{display: none;}
    &.fa-times{color: #dddddd;}
  }
  .active{
    i{
      &.fa-check{display: block;}
      &.fa-times{display: none;}
    }
    span, p{color: $primary-black;}
  }
}

.recent-item-pdp li{
  box-shadow: none;
  background: transparent;
}

#bankInfo{
  table{
    width: 100%;
    border: none;
    thead{
      border-bottom: solid 1px #dddddd;
      tr{
        th{
          text-align: center;
          padding: 5px 0;
          border: none;
        }
        &:last-child{
          th{padding-bottom: 10px;}
        }
      }
    }
    tbody{
      tr{
        td{
          text-align: center;
          padding: 12px 0;
          border: none;
          border-bottom: solid 1px #dddddd;
          &:first-child{border-bottom: none;}
          img{
            height: 25px;
          }
        }
        &:last-child{
          td{border-bottom: none;}
        }
      }
    }
  }
}

.unavailable-shipping{
  img{filter: grayscale(100%)}
  .fa-times{display: block!important;}
  .fa-check{display: none;}
  span{
    &.text-success{display: none;}
  }
}