.qty-input{
  .form-control{
    border-color: #ececec;
    &[readonly]{
      background-color: #ffffff;
    }
    &:focus{box-shadow: none}
  }
  .input-group-prepend{
    background: transparent;
    .input-group-text{
      background-color: #DDDDDD;
      color: #ffffff;
      border: solid 1px #dddddd;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
  .input-group-append{
    background: transparent;
    .input-group-text{
      background-color: #F6F6F6;
      color: $primary-red;
      border: solid 1px #dddddd;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  .input-group-text{
    border: none;
  }
}

.input-qty-catalog{
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  .qty-input{
    input, .input-group-text{height: 29px;}
  }
}